html {
	font-family: 'Bilbo', cursive;
	font-size: 18px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.spellkeep {
	font-family: 'Great Vibes', cursive;
}

.top-nav {
	border-radius: 0px !important;
}