<uib-tabset class="top-tab" active="activeJustified" justified="true">
	<uib-tab index="0" heading="Create Character" >
		<nav class="navbar-default navbar top-nav">
			<div class="row">
				<div class="row no-left-margin">
					<div class="col-xs-6 text-center">
						<h4>Biography</h3>
					</div>
					<div class="col-xs-6 text-center">
						<h4>Ability Scores</h3>
					</div>
				</div>
			</div>
		</nav>
		<form class="row">
			<div class="col-xs-6">
				<div class="col-xs-10 col-xs-offset-1">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Character Name" ng-model="newChar.charName" required>
					</div>
					<select class="form-control" ng-model="newChar.primaryClass" required>
        		<option selected disabled value="">-- Select Class --</option>
  					<option value="Wizard">Wizard</option>
					</select>
					<br>
					<br>
					Add Image
					<br>
					<div class="char-img-div">
						<img src="./img/edwin.jpg" alt="Edwin" class="img-responsive center-block char-img">
					</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="col-xs-10 col-xs-offset-1">
					<div class="input-group ability-cont">
				  	<span class="input-group-addon ability-label" id="basic-addon1">Strength</span>
					  <input type="text" class="form-control" aria-describedby="basic-addon1" ng-model="newChar.str">
					</div>
					<div class="input-group ability-cont">
				  	<span class="input-group-addon ability-label" id="basic-addon1">Dexterity</span>
					  <input type="text" class="form-control" aria-describedby="basic-addon1" ng-model="newChar.dex">
					</div>
					<div class="input-group ability-cont">
				  	<span class="input-group-addon ability-label" id="basic-addon1">Constitution</span>
					  <input type="text" class="form-control" aria-describedby="basic-addon1" ng-model="newChar.con">
					</div>
					<div class="input-group ability-cont">
				  	<span class="input-group-addon ability-label" id="basic-addon1">Intelligence</span>
					  <input type="text" class="form-control" aria-describedby="basic-addon1" ng-model="newChar.int">
					</div>
					<div class="input-group ability-cont">
				  	<span class="input-group-addon ability-label" id="basic-addon1">Wisdom</span>
					  <input type="text" class="form-control" aria-describedby="basic-addon1" ng-model="newChar.wis">
					</div>
					<div class="input-group ability-cont">
				  	<span class="input-group-addon ability-label" id="basic-addon1">Charisma</span>
					  <input type="text" class="form-control" aria-describedby="basic-addon1" ng-model="newChar.cha">
					</div>
					<input class="btn btn-primary" type="submit" value="Save New Character" ng-click="postNewCharacter()">
				</div>
			</div>
		</form>
	</uib-tab>
	<uib-tab index="1" heading="Create Spellbook">Short Labeled Justified content</uib-tab>
	<uib-tab index="2" heading="Prepare Spells">Long Labeled Justified content</uib-tab>
</uib-tabset>