<div ng-controller="SideNavCtrl">
		<div class="nav-side-menu">
				<div class="logo-div">
						<div class="logo">
							SpellKeep
						</div>
				</div>
				<i class="fa fa-bars fa-2x toggle-btn"></i>
				<div class="menu-list" ng-if="user.uid">
						<ul id="menu-content" class="menu-content collapse out">
								<a ng-href="#!/overview">
										<li class="collapsed" ng-click="overviewCollapsed = !overviewCollapsed" ng-class="{active: ifUrlIs('/overview')}">
												<i class="fa fa-flag fa-lg"></i> Quest<span class="arrow"></span>
										</li>
								</a>
								<ul class="sub-menu collapse" uib-collapse="overviewCollapsed">
										<a ng-href="#!/spellbook"><li ng-class="{active: ifUrlIs('/spellbook') || ifUrlIs('/newspellbook')}"><img class="icon" src="../img/icons/spell-book.svg"> Spellbook</li></a>
										<a ng-href="#"><li><img class="icon" src="../img/icons/knapsack.svg"> Inventory</li></a>
										<a ng-href="#!/rest"><li><img class="icon" src="../img/icons/campfire.svg"> Rest</li></a>
								</ul>
								<a ng-href="#!/viewcharacter"">
										<li class="collapsed" ng-click="characterCollapsed = !characterCollapsed" ng-class="{active: ifUrlIs('/viewcharacter')}">
												<i class="fa fa-address-card fa-lg"></i> Character<span class="arrow"></span>
										</li>
								</a>
								<ul class="sub-menu collapse" uib-collapse="characterCollapsed">
										<a ng-href="#!/levelup"><li ng-class="{active: ifUrlIs('/levelup')}"><img class="icon" src="../img/icons/upgrade.svg"> Level Up</li></a>
										<a ng-href="#!/modifystats"><li ng-class="{active: ifUrlIs('/modifyspellslots')}"><img class="icon" src="../img/icons/heart-plus.svg"> Modify Stats</li></a>
										<a ng-href="#!/modifyspellslots"><li ng-class="{active: ifUrlIs('/modifystats')}"><img class="icon" src="../img/icons/bolt-spell-cast.svg"> Modify Spell Slots</li></a>
								</ul>
								<a ng-href="#">
										<li class="collapsed" ng-click="referenceCollapsed = !referenceCollapsed">
												<i class="fa fa-info-circle fa-lg"></i> Reference</span>
										</li>
								</a>
								<a ng-href="#!/characters">
										<li ng-class="{active: ifUrlIs('/characters')}">
												<i class="fa fa-users fa-lg"></i> Change Character
										</li>
								</a>
								<a ng-href="#">
										<li>
												<i class="fa fa-user-circle fa-lg"></i> Profile
										</li>
								</a>
								<a ng-href="#!/logout">
										<li>
												<i class="fa fa-times fa-lg"></i> Logout
										</li>
								</a>
						</ul>
				</div>
		</div>
</div>