<nav class="navbar-default navbar top-nav">
	<div class="row top-nav">
		<div class="row no-left-margin">
			<div class="col-xs-4 text-center">
				<h4>In Spellbook</h3>
			</div>
			<div class="col-xs-4 text-center">
				<h4>Description</h3>
			</div>
			<div class="col-xs-4 text-center">
				<h4>All Spells</h3>
			</div>
		</div>
	</div>
</nav>
<div class="row">
	<div class="col-xs-4">
		
	</div>
	<div class="col-xs-4">
		<div class="panel panel-default spell-desc-cont">
			<div class="panel-heading">
				<h3 class="panel-title">Panel title</h3>
			</div>
			<div class="panel-body spell-desc-cont">
				Panel content
			</div>
		</div>
	</div>
	<div class="col-xs-4">
		
	</div>
</div>