<nav class="navbar-default navbar top-nav">
	<div class="row">
		<div class="row no-left-margin">
			<div class="col-xs-4 text-center">
				<h4>Prepared</h3>
			</div>
			<div class="col-xs-4 text-center">
				<h4>Description</h3>
			</div>
			<div class="col-xs-4 text-center">
				<h4>In Spellbook</h3>
			</div>
		</div>
	</div>
</nav>
<div class="row">
	<div class="col-xs-4">
		<div class="scrollOverflow">
	  	<div class="form-group">
    		<input type="text" class="form-control" ng-model="preparedSearchIndex" placeholder="Search...">
	  	</div>
			<div class="row">
	  		<div class="col-xs-6">
	  			<select class="form-control" ng-model="preparedLevelFilter">
        		<option selected value="">All Levels</option>
  					<option value="0">Cantrips</option>
  					<option value="1">Level 1</option>
  					<option value="2">Level 2</option>
  					<option value="3">Level 3</option>
  					<option value="4">Level 4</option>
  					<option value="5">Level 5</option>
  					<option value="6">Level 6</option>
  					<option value="7">Level 7</option>
  					<option value="8">Level 8</option>
  					<option value="9">Level 9</option>
					</select>
				</div>
				<div class="col-xs-6">
	  			<select class="form-control" ng-model="preparedSchoolFilter">
        		<option selected value="">All Schools</option>
  					<option value="Abjuration">Abjuration</option>
  					<option value="Conjuration">Conjuration</option>
  					<option value="Divination">Divination</option>
  					<option value="Enchantment">Enchantment</option>
  					<option value="Evocation">Evocation</option>
  					<option value="Illusion">Illusion</option>
  					<option value="Necromancy">Necromancy</option>
  					<option value="Transmutation">Transmutation</option>
					</select>
				</div>
	  	</div>
			<uib-accordion close-others="true">
			<div ng-click="setDescription(spell)" ng-repeat="spell in spellsKnown | filter: {prepared: true} | filter: preparedSearchIndex | filter: {level: preparedLevelFilter} | filter: {school: preparedSchoolFilter} | orderBy: ['level']">
				<div uib-accordion-group class="panel-default" heading="{{spell.name}} - Lvl {{spell.level}}">
					<input class="btn btn-primary" type="button" value="Unprepare Spell" ng-click="unprepareSpell(spell); $event.preventDefault();">
				</div>
			</div>
			</uib-accordion>
		</div>
	</div>
	<div class="col-xs-4">
		<div class="panel panel-default spell-desc-cont">
			<div class="panel-heading">
				<h3 class="panel-title">{{spellDescription.name}}</h3>
			</div>
			<div class="panel-body spell-desc-cont">
				<div ng-if="spellSelected">
					<p>School: {{spellDescription.school.name}}</p>
					<p>Level: {{spellDescription.level}}</p>
					<p>Class: <span ng-repeat="class in spellDescription.classes">{{class.name}} </span></p>
					<p>Casting Time: {{spellDescription.casting_time}}</p>
					<p>Range: {{spellDescription.range}}</p>
					<p>Duration: {{spellDescription.duration}}</p>
					<p>Ritual: {{spellDescription.ritual}}</p>
					<p>Page: {{spellDescription.page}}</p>
					<p>Concentration: {{spellDescription.concentration}}</p>
					<p>Components: <span ng-repeat="component in spellDescription.components">{{component}} </span></p>
					<p>Description: {{spellDescription.desc[0]}}</p>
					<p ng-if="spellDescription.higher_level">Higher Level: {{spellDescription.higher_level[0]}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-4">
		<div class="scrollOverflow">
	  	<div class="form-group">
    		<input type="text" class="form-control" ng-model="unpreparedSearchIndex" placeholder="Search...">
	  	</div>
	  	<div class="row">
	  		<div class="col-xs-6">
	  			<select class="form-control" ng-model="unpreparedLevelFilter">
        		<option selected value="">All Levels</option>
  					<option value="0">Cantrips</option>
  					<option value="1">Level 1</option>
  					<option value="2">Level 2</option>
  					<option value="3">Level 3</option>
  					<option value="4">Level 4</option>
  					<option value="5">Level 5</option>
  					<option value="6">Level 6</option>
  					<option value="7">Level 7</option>
  					<option value="8">Level 8</option>
  					<option value="9">Level 9</option>
					</select>
				</div>
				<div class="col-xs-6">
	  			<select class="form-control" ng-model="unpreparedSchoolFilter">
        		<option selected value="">All Schools</option>
  					<option value="Abjuration">Abjuration</option>
  					<option value="Conjuration">Conjuration</option>
  					<option value="Divination">Divination</option>
  					<option value="Enchantment">Enchantment</option>
  					<option value="Evocation">Evocation</option>
  					<option value="Illusion">Illusion</option>
  					<option value="Necromancy">Necromancy</option>
  					<option value="Transmutation">Transmutation</option>
					</select>
				</div>
	  	</div>
			<uib-accordion close-others="true">
				<div ng-click="setDescription(spell)" ng-repeat="spell in spellsKnown | filter: {prepared: false} | filter: unpreparedSearchIndex | filter: {level: unpreparedLevelFilter} | filter: {school: unpreparedSchoolFilter} | filter: currChar.primaryClass: class | orderBy: ['level']">
					<div uib-accordion-group class="panel-default" heading="{{spell.name}} - Lvl {{spell.level}}">
						<input class="btn btn-primary" type="button" value="Prepare Spell" ng-click="prepareSpell(spell); $event.preventDefault();">
					</div>
				</div>
			</uib-accordion>
		</div>
	</div>
</div>
